@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font-main: Rubik;
    --font-bold: Rubik Mono One;
    --font-mono: Ubuntu Mono;
}

body {
    font-family: var(--font-main);
    color: rgb(255,255,255);
    background-color: rgb(28,28,28);
}

.inlineCode {
    font-family: var(--font-mono);
    display: inline-block;
}

.codeBox {
    background-color: rgb(24,27,33);
}
