/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


/*-----main-----*/


:root {
    /* normal */
    --font-main: 'Rubik';
    --font-bold: 'Rubik Mono One';
    --font-glitch: 'Rubik 80s Fade';
    --font-header: 'Archivo Black';
    --font-mono: 'Ubuntu Mono';

    /* bodyBackground */
    --bg-color: rgb(36,36,36);
    --bg-color-light: rgb(46,46,46);
    --bg-color-dark: rgb(16,16,16);
}

body {
    font-family: var(--font-main);
    font-size: 16px;
    color: rgb(215,215,215);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #75ABBC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-bold);
}

hr {
    border: 2px solid white;
}

.mainHeader {
    font-family: var(--font-header);
    border-bottom: 1.5px solid rgb(44,44,44);
    padding: 20px 12px 0px 12px;
    margin: 12px 0px 20px 0px;
}

img {
    box-shadow: -5px 0px 5px 2px rgba(0,0,0,0.2), 5px 0px 5px 2px rgba(0,0,0,0.2), 0px 5px 5px 2px rgba(0,0,0,0.2), 0px -5px 5px 2px rgba(0,0,0,0.2);
    border: 3px solid var(--bg-color-light);
    margin: auto;
    display: block;
    max-width: 700px;
    max-height: 500px;
}

button {
    padding: 5.555555555555px; /*There Is No Antimemetics Division*/
    margin: 5.55555555555555px; /*5243-D*/
    background-color: #000;
    border-radius: 5.55555555555555555555555px; /*3125*/
    color: white;
    font-size: larger; /*What is this scale someone please tell me*/
    width: 50%;
    text-align: left;
    transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
}

button:hover {
    transform: scale(1.05);
}
/*-----background-----*/
/*
.backgroundGradient {
    z-index: -2;
    top:0;
    left:-50%;
    width:300%;
    animation: backgroundGradAnim calc(((5.555s  * 5.5) * .555) - (5.5555s * .55)) calc(55.555s * (5.55 - 5)) ease-in-out 0s infinite; 
    height:100%;
    background-image: linear-gradient(to right, var(--bg-color-dark) 0%, var(--bg-color) 12%, var(--bg-color-light) 24%, var(--bg-color) 36%, var(--bg-color-dark) 48%, var(--bg-color) 60%, var(--bg-color-light) 72%, var(--bg-color) 84%, var(--bg-color-dark) 96%, var(--bg-color) 100%); 
    position: fixed;
}
*/

/*-----main-content-----*/


.container {
    background-color: rgba(28,28,28,0.75);
    box-shadow: -5px 0px 5px 2px rgba(28,28,28,0.2), 5px 0px 5px 2px rgba(28,28,28,0.2);
    margin: auto;
    padding: 16px 12px 16px 12px;
    width: 55.555%; /* fithism reference */
    height: 100%;
}

.content {
    padding: 0px 20px;
}




/*-----blocks-----*/


.block {
    border: 2px solid rgba(0,0,0,0.3);
    background-color: var(--bg-color-light);
    padding: 0px 5.55555555px; /*CASE COLOURLESS GREEN*//*The title is British, not me*/
    margin: 16px auto 16px auto;
    border-radius: 5.555555555px; /*CASE HATE RED*/
}

.block li {
    padding:3px 0px;
}


/* CODE */


samp {
    font-family: var(--font-mono);
    font-style: normal;
    background-color: rgb(37,37,37);
    border: 1.5px solid rgb(44,44,44);
    padding: 0.5px;
    display: inline-block;
}

.codeBox {
    color: rgb(190,190,190);
    font-family: var(--font-mono);
    background-color: rgb(41,46,56);
    border: 2px solid rgba(34,34,34,0.8);
    border-radius: 5.55555555px; /*Ideas don't die.*/
    max-width: 600px;
    overflow: scroll;
    white-space: pre-line;
    padding: 0px 5.55555555px 18px; /*What happened in 1976?*/
    margin: 16px auto 16px auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
}

.consoleLog {
    background-color: black;
    color: white !important;
}

.codeBox:hover {
    transform: scale(1.05);
    cursor: help;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* CODE --> HLs */ /* 'HL' stands for highlight */
.functionHL {
    color: rgb(245,158,66);
}

.keywordHL {
    color: rgb(69,194,60);
}

var {
    color: rgb(73,184,218);
    font-family: var(--font-mono);
    font-style: normal;
}

.numberHL {
    color: rgb(168,50,113);
}

.stringHL, bdi {
    color: #e28038;
}

dfn { /*yellow piant*/
    /* to disable, comment this out: */ color: rgb(230, 227, 78);
    font-style: normal;
    cursor: all-scroll;
}

/* ANIMATIONS */
/* ANIMATIONS --> bodyBackground */
/*
@keyframes bodyBackground {
    0%    {background-image: linear-gradient(to right, var(--bg-color-dark), var(--bg-color), var(--bg-color-light));}
    33.3% {background-image: linear-gradient(to right, var(--bg-color-light), var(--bg-color-dark), var(--bg-color));}
    66.6% {background-image: linear-gradient(to right, var(--bg-color), var(--bg-color-light), var(--bg-color-dark));}
    100%  {background-image: linear-gradient(to right, var(--bg-color-dark), var(--bg-color), var(--bg-color-light));}
}
@keyframes backgroundGradAnim {
    0%   {transform: translateX(0%);}
    50%  {transform: translateX(-50%);}
    100% {transform: translateX(0%);}
}
*/

/* MOBILE RESPONSIVENESS */
/* please kill me */
/* 808 = essentially a crashout */
@media only screen and (max-width: 768px) {
    .container { 
        width: 99.999%; /* ninthism? */
    }
}
